.container {
  width: 90%;
  margin: 9rem auto;
  animation-name: moveInLeft;
  animation-duration: 1.5s;
  animation-timing-function: ease in;
  backface-visibility: hidden;
  text-align: center;
}

h1 {
  font-size: 10rem;
  margin: 0px 10rem;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translate(-10rem);
  }

  80% {
    transform: translate(4rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@media only screen and (max-width: 1000px) {
  h1 {
    font-size: 5rem;
  }
}
