.contact_text,
.contact_details {
  width: 70%;
  margin: 10rem auto;
  color: white !important;
}

/* .contact_text p,
.contact_details p {
  opacity: 0;
} */

address {
  margin-top: 5rem;
  align-items: center;
}

.details {
  display: flex;
}

.details p {
  padding: 0 2rem;
}

.details a {
  color: white;
  padding: 0 2rem;
}

.details a:hover {
  color: rgb(255, 0, 0);
}

.contact_text p {
}
