.contact_details {
  width: 70%;
  margin: 8rem auto;
  color: white !important;
}

.contact_text {
  width: 70%;
  margin: auto;
  color: white !important;
}

.contact_details {
  padding: 5rem;
  background-color: transparent;
  border-radius: 5rem;
  box-shadow: 0.6rem 0.6rem 1rem 0.2rem rgba(201, 28, 28, 0.7),
    -0.6rem -0.6rem 1rem 1rem rgba(0, 0, 0);
  margin: 15rem auto;
}

.opacityZero {
  opacity: 0;
}

.translateY10 {
  transform: translateY(10rem);
}

.details p {
  padding: 0rem 2rem;
}
address {
  /* display: flex; */
}

.contact_details > p {
  font-size: 2.5rem;
}

.details {
  display: flex;
}
.details a {
  color: white;
  padding: 0 2rem;
  font-weight: bold;
}

.details a:hover {
  color: rgb(255, 0, 0);
}

@media only screen and (max-width: 768px) {
  .contact_details {
    width: 100%;
  }
  .contact_details > p {
    padding: 0 0;
    font-size: 2rem !important;
    text-align: center;
  }

  .details a,
  .details p {
    font-size: 1.5rem;
  }
}
