.container {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10rem;
  /* background-color: rgb(209, 85, 85); */
}


.about_heading {
margin-top: 10rem;

}

.heading_intro{
  margin-bottom: 1.5rem;


}


h1,
h2 {
  color: white;
  font-size: 10rem;
  text-align: center;
}

h3 {
  padding: 1rem 0;
  color: rgb(255, 0, 0) !important;
  font-size: 3rem;
}

.container p {
  font-size: 2rem;
  font-weight: normal;
  margin-bottom: 2rem;
}