.contact_text,
.contact_details {
  width: 70%;
  margin: 10rem auto;
  /* padding: 10rem; */
  /* background-image: linear-gradient(
    to right bottom,
    red,
    rgb(212, 134, 134)
  ) !important;
  background-size: cover;
  background-color: transparent;
  clip-path: (0 0, 100% 0, 95% 100%, 0 100%); */
}

address {
  margin-top: 5rem;
  /* display: flex; */
  align-items: center;
  /* justify-content: center; */
}

.details {
  display: flex;
}

.details p {
  padding: 0 2rem;
}

address a {
  color: white;
  padding: 0 2rem;
}
