.down_arrow {
  /* opacity: 1; */
  width: 10rem;
  height: 5rem;
  background-image: linear-gradient(to bottom, rgb(255, 0, 0), rgb(255, 0, 0));
  background-size: cover;
  background-position: center;
  align-items: center;
  margin: 0 auto;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
  animation-name: moveInRight;
  animation-duration: 1.5s;
  animation-timing-function: ease in;
  backface-visibility: hidden;

  /* animation-delay: 0.5s; */
}

.down_arrow:hover {
  cursor: pointer;
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translate(10rem);
  }

  80% {
    transform: translate(-4rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
