.container {
  width: 70%;
  margin: 20rem auto;
}

div h2 {
  color: white;
  font-size: 8rem;
  margin-bottom: 8rem;
}

@media only screen and (max-width: 1000px) {
  .container {
    width: 90%;
  }
}

@media only screen and (max-width: 1000px) {
  .container {
    width: 90%;
  }

  div h2 {
    font-size: 5rem;
  }
}
